<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restaurantech">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MenuOcho"></activity>
        <activity android:name=".MenuSiete" />
        <activity android:name=".MenuSeis" />
        <activity android:name=".MenuCinco" />
        <activity android:name=".MenuCuatro" />
        <activity android:name=".MenuTres" />
        <activity android:name=".MenuDos" />
        <activity android:name=".MenuUno" />
        <activity android:name=".MenuPrincipal" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>